src/main/xsd/wigeogis/getkey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Dec 02 2014 16:41:31 
		GMT+0100 -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="GETKEY">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="STATUS" type="xs:string"></xs:element>
				<xs:element name="KEY" type="xs:string"></xs:element>
				<xs:element name="MESSAGE" type="xs:string" minOccurs="0"></xs:element>
				<xs:element name="ERRORCODE" type="xs:int" minOccurs="0"></xs:element>
				<xs:element name="USERID" type="xs:int" minOccurs="0"></xs:element>
				<xs:element name="KONTO" type="xs:int" minOccurs="0"></xs:element>
				<xs:element name="LISTKONTO" type="xs:int" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>